*{
    box-sizing: border-box;
}
body{
    margin: 1%;
    font-family: 'Source Sans 3', sans-serif;
}
.logo{
    width:250px;
    margin-top: -40%;
    margin-left: -25%;
}
.nav-item{
    padding-left: 10px;
    font-size: 15px;
}
.navbar-nav{
    margin-left:70%;
    margin-top: -8%;
}
.header-img{
    width: 100%;
    height:90vh;
    margin-top: -5%;
    z-index:-2;
}
.header-text{
    background-color: #fff;
    width:35%;
    height: auto;
    margin-top: -30%;
    margin-left:60%;
    position: absolute;
    z-index: 1;
    padding: 25px;
}
h1,h2{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 33px;
    margin-bottom: 5%;   
}

.header-btn,.process-btn,.team-btn{
    background-color: #C69ea5;
    color: #fff;
    padding:10px 30px;
    margin-right: 2%;
    border:solid;  
    border-color: #C69ea5;
}
.header-btn:hover,.process-btn:hover,.team-btn:hover{
    background-color: #8d7175;
    font-weight: bold;
    border-color:#8d7175;
}
.card-group{
    margin: 5% 0 5%;
    
}
.card{
    padding:15px;
}
#process{
    background-image: url(images/joanna-kosinska.jpg);
    background-position: center;
    height: 70vh;
    width: auto;
}
.process-text,.team-text{
    padding:50px;
    margin-top: 10%;
}
.team-text{
    width:70%;  
    margin-left: 5%;
}
.process-text{
    width:50%;
    float: right;
}
.team-info{
    display: flex;
    flex-direction: row;
}
.team-img{
    width:300px;
    height: auto;
    padding: 10px;
}
.team-grid{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width:916px) {
    .logo{
        width:180px;
        margin-top: -15%
    } 
    .navbar-nav{
        margin-left:0;
       
    }
      
    .navbar-toggler{
        margin-top: -10%;
    }
    .header-img{
        width: 100%;
        height:auto;
        margin-top: -5%;
    }
    #header{
        display: flex;
        flex-direction: column;
    }
    .header-text{
        background-color: #fff;
        width:100%;
        height: auto;
        position: relative;
        margin-top: 0;
        margin-left:0;
        padding: 25px;
    }
    #process{
        background-image: url(images/joanna-kosinska.jpg);
        background-position: center;
        height: 60vh;
        width: auto;
    }
    .process-text{
        width:100%;
        padding:50px;
        
    }
 
    .team-info{
        flex-direction:column;
    }
    .team-text{
        width:100%;
        padding:0;  
    }
    .team-grid{
        display: block;
        margin: auto;
    }
}
@media (min-width:1179px) and (max-width:1026px) {

    .header-img{
        width: 100%;
        height:90vh;
        display:block;
        margin: auto;
    }
    .header-buttons{
        display: flex;
        flex-direction: row;
    }
    .header-text{
        width: 100%;
    }
    .process-text{
        width:100%;
        padding:50px;
        margin-top: 20%;
    }
 
}