*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 1%;
    font-family: 'Source Sans 3', sans-serif;
}
.logo{
    width:250px;
    margin-top: -40%;
    margin-left: -25%;
}
.nav-item{
    padding-left: 10px;
    font-size: 15px;
}
.navbar-nav{
    margin-left:70%;
    margin-top: -8%;
}
.header-img{
    width: 100%;
    height:90vh;
    margin-top: -5%;
    z-index:-2;
}
.header-text{
    background-color: #fff;
    width:35%;
    height: auto;
    margin-top: -30%;
    margin-left:60%;
    position: absolute;
    z-index: 1;
    padding: 25px;
}
h1,h2{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 33px;
    margin-bottom: 5%;   
}

.header-btn,.process-btn,.team-btn,.contact-btn{
    background-color: #C69ea5;
    color: #fff;
    padding:10px 30px;
    margin-right: 2%;
    border:solid;  
    border-color: #C69ea5;
}
.header-btn:hover,.process-btn:hover,.team-btn:hover,.contact-btn:hover{
    background-color: #8d7175;
    font-weight: bold;
    border-color:#8d7175;
}
.card-group{
    margin: 5% 0 5%;
    
}
.card{
    padding:15px;
}
#process{
    background-image: url(images/joanna-kosinska.jpg);
    background-position: center;
    height: 70vh;
    width: auto;
}
.process-text,.team-text{
    padding:50px;
    margin-top: 10%;
}
.team-text{
    width:70%;  
    margin-left: 5%;
}
.process-text{
    width:50%;
    float: right;
}
.team-info{
    display: flex;
    flex-direction: row;
}
.team-img{
    width:250px;
    height: auto;
    padding: 10px;
}
.team-grid{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
}
#contact{
    padding-top: 10%;
    width:50%;
    margin: auto;
}
.contact-h2,.contact-p{
    text-align: center;
}
.form-control,.form-control:focus{
    background-color: #b8aeb042;
   border: none;
   border-radius: 0;
}

.contact-button{
    width: fit-content;
    margin: auto;
}
.contact-btn{
    width:100%;
   
}
footer{
    margin-top: 10%;
    padding-top: 50px;
    background-color: #b8aeb0ab;
   
}

.footer-row1,.footer-row2{
    padding-bottom: 10px;
}
.footer-logo{
    display: block;
    margin: auto;
    width:200px;
    height: auto;
}

.fa-circle{
    font-size: 8px;
    padding-top:6px ;
    padding-left:5px;
    color:#8d7175;
}
.nav-link{
    color:black;
}
.nav-link:hover{
    color: #8d7175;
}
.portfolio-text,.process-content{  
    background-color: #fff;
    width:40%; 
    z-index: 1;
    position: absolute;
}
.portfolio-text{
    margin-top: -15%;
    padding:20px;
}
.portfolio-picture,.process-picture{
    z-index: -2;
}
.process-content{
    margin-top: -20%;
    padding:30px; 
    margin-left: 5%; 
}
.process-p{
    text-align: center;
}
.rosebank-row,.project-ul-row,.cresta-row,.emmerantia-row,.colleague-row,.bio-row{
    display: flex;
    flex-direction: row;
}
.rosehead-img,.crestahead-img,.emmerantia-img,.process-img{
    width:100%;
    height:auto;
}
.rosebank-picture,.cresta-picture,.emmerantia-picture{
    margin-top: 1%;
}
.rosebank-p,.cresta-p,.emmerantia-p{
    width:60%;
}
ul{
    list-style: none;
}
.project-ul{
    margin-top: 20px;
}
.process-picture{
    margin-top: -5%;
}
#the-team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.g-col-6{
    text-align: center;
}
#steps{
   align-items: center;
}
small{
    font-weight: bolder;
}

.bio{
    margin:auto;
    width:70%;
}
.bio-h2{
    text-align: center;
    margin-top: 10%;
}
.bio-team-img{
    width:200px;
    height: auto;
    padding: 10px;
}

.colleague-row{
   display: flex;
   justify-content: center;
   width: fit-content;
   margin: auto;
}
@media (max-width:916px) {
    .logo{
        width:180px;
        margin-top: -15%
    } 
    .navbar-nav{
        margin-left:0;
       
    }
      
    .navbar-toggler{
        margin-top: -10%;
    }
    .header-img{
        width: 100%;
        height:auto;
        margin-top: -5%;
    }
    #header,.colleague-row,.bio-row{
        display: flex;
        flex-direction: column;
    }
    .header-btn{
        margin-top: 10px;
    }
    .header-text,.portfolio-text,.process-content{
        background-color: #fff;
        width:100%;
        height: auto;
        position: relative;
        margin-top: 0;
        margin-left:0;
        padding: 25px;
    }
    #process{
        background-image: url(images/joanna-kosinska.jpg);
        background-position: center;
        height: 400px;
        width: auto;
    }
    .process-content,.process-text{
        width:100%;
        padding:50px;
        
    }
  
    .team-info{
        flex-direction:column;
        margin: 0;
        width:100%;
    }
    .team-text{
        padding:0;  
    }
    .team-grid{
       margin-left: 5%;
    }
    .team-img{
        width:150px;
        height: auto;
        padding: 10px;
    }
    .rosebank-row,.cresta-row,.emmerantia-row{
        flex-direction: column;
    }
    .rosebank-p,.cresta-p,.emmerantia-p{
        width:100%;
    }
   .project-ul-row{
       flex-direction: row;
       font-size: small;
   }
   .colleague-row{
       margin: auto;
   }
   .contact-h2,.contact-p{
    text-align: left;
   }
   #contact{
    width:85%
   }
}
@media (min-width:1023px) and (max-width:1179px) {

    .header-img{
        width: 100%;
        height:90vh;
        display:block;
        margin: auto;
    }
    .header-buttons{
        display: flex;
        flex-direction: row;
    }
    .header-text{
        width: 100%;
        width:35%;
        height: auto;
        margin-top: -50%;
       
        position: absolute;
        z-index: 1;
        padding: 25px;
    }
    .process-text{
        width:100%;
        padding:50px;
        margin-top: 20%;
    }
 
}

@media (min-width:1022px) and (max-width:1181px) {
    .navbar-nav{
        margin-left: 55%;
    }
    .nav-item{
        padding-left:0;

    }
}